# Copyright 2022 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: Action Lint

on:
  pull_request:
    branches:
      - 'main'

jobs:

  action-lint:
    name: Action lint
    runs-on: ubuntu-latest

    steps:
      - uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit
      - name: Check out code
        uses: actions/checkout@d632683dd7b4114ad314bca15554477dd762a938 # v4.2.0
      - id: get_yamls
        run: |
          yamls=$(find . -name "*.yaml" -iname '.chainguard/source.yaml')
          echo "files="${yamls}"" >> $GITHUB_OUTPUT
      - uses: reviewdog/action-actionlint@v1
        with:
          actionlint_flags: ${{ steps.get_yamls.outputs.files }}
