# Copyright 2025 Chainguard, Inc.
# SPDX-License-Identifier: Apache-2.0

name: release-actions

on:
  schedule:
   - cron: '0 0 * * 1' # weekly on Monday at 00:00

  workflow_dispatch:
    inputs:
      dry_run:
        description: "dry-run mode: if true, no git tags will be pushed."
        type: boolean
        default: false
      release_type:
        description: "Type of Release"
        required: true
        default: build
        type: choice
        options:
          - major
          - minor
          - patch
          - prerelease
          - build
      forced_version:
        description: "(Optional) SemVer2-compliant forced-version to tag explicitly, instead of auto-bumping.
                      Must not already exist"
        required: false
        type: string

permissions: {}

jobs:
  release:
    if: ${{ github.repository == 'chainguard-dev/actions' }}

    name: release
    runs-on: ubuntu-latest

    permissions:
      contents: read # to read the repo and tags
      id-token: write # to inject the OIDC token to octo-sts

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: octo-sts/action@d6c70ad3b9ac85df6da6b9749014d7283987cfec # v1.0.3
        id: octo-sts
        with:
          scope: ${{ github.repository }}
          identity: release

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0 # fetch all history for all tags and branches
          token: ${{ steps.octo-sts.outputs.token }}

      - name: Check if any changes since last tag
        id: check
        run: |
          git fetch --tags
          if [ -z "$(git tag --points-at HEAD)" ]; then
            echo "Nothing points at HEAD, bump a new tag"
            echo "bump=yes" >> "$GITHUB_OUTPUT"
          else
            echo "A tag already points to head, don't bump"
            echo "bump=no" >> "$GITHUB_OUTPUT"
          fi

      - name: Bump and push Git tag
        uses: chainguard-dev/actions/git-tag@3e8a2a226fad9e1ecbf2d359b8a7697554a4ac6d # v1.5.10
        if: steps.check.outputs.bump == 'yes'
        with:
          token: ${{ steps.octo-sts.outputs.token }}
          git_tag_prefix: "v"
          bump_level: ${{ inputs.release_type || 'patch' }}
          dry_run: ${{ inputs.dry_run || 'false'}}
          forced_version: ${{ inputs.forced_version || '' }}
          author: "octo-sts[bot] <157150467+octo-sts[bot]@users.noreply.github.com>"
          committer: "octo-sts[bot] <157150467+octo-sts[bot]@users.noreply.github.com>"

      # to create a GH release and fill with the changelog
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@e435ccd777264be153ace6237001ef4d979d3a7a # v6.4.0
        if: steps.check.outputs.bump == 'yes'
        with:
          distribution: goreleaser
          version: latest
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ steps.octo-sts.outputs.token }}
