name: test-gitsign

on:
  pull_request:
    paths:
      - 'setup-gitsign/**'
      - '.github/workflows/test-gitsign.yaml'

permissions: {}

jobs:
  test_gitsign_action:

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - macos-13
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-latest

    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    name: Install Gitsign and test presence in path
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Install Gitsign
      uses: ./setup-gitsign

    - name: Check install!
      run: gitsign --version

    - name: Check root directory
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          echo 'should be clean'
          exit 1
        else
          exit 0
        fi
      shell: bash
