name: test-matrix-extra-inputs

on:
  pull_request:

jobs:
  test_action:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.0
      with:
        egress-policy: audit
    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
    - id: extra-inputs
      uses: ./matrix-extra-inputs
      with:
        matrix-json: '{"x":1,"y":2}'
      env:
        EXTRA_INPUT_THIS_IS_EXAMPLE: hello
        EXTRA_INPUT_THIS_IS_ALSO_EXAMPLE: world
    - run: |
        set -x
        echo '${{ steps.extra-inputs.outputs.matrix-json }}' > input.json
        [[ "$(jq -r .x input.json)" == "1" ]]
        [[ "$(jq -r .y input.json)" == "2" ]]
        [[ "$(jq -r .thisIsExample input.json)" == "hello" ]]
        [[ "$(jq -r .thisIsAlsoExample input.json)" == "world" ]]
