name: test-matrix-extra-inputs

on:
  pull_request:

permissions: {}

jobs:
  test_action:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - id: extra-inputs
      uses: ./matrix-extra-inputs
      with:
        matrix-json: '{"x":1,"y":2}'
      env:
        EXTRA_INPUT_THIS_IS_EXAMPLE: hello
        EXTRA_INPUT_THIS_IS_ALSO_EXAMPLE: world
    - run: |
        set -x
        echo '${{ steps.extra-inputs.outputs.matrix-json }}' > input.json
        [[ "$(jq -r .x input.json)" == "1" ]]
        [[ "$(jq -r .y input.json)" == "2" ]]
        [[ "$(jq -r .thisIsExample input.json)" == "hello" ]]
        [[ "$(jq -r .thisIsAlsoExample input.json)" == "world" ]]
