name: setup-kind

on:
  pull_request:
    branches: [ main ]

defaults:
  run:
    shell: bash
    working-directory: ./

concurrency:
  group: test-github-action${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test-github-action:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-version:
        - v1.23.x
        - v1.24.x
        - v1.25.x
        - v1.26.x

        # See https://github.com/chainguard-dev/actions/pull/175
        # We're testing whether setting a custom cluster domain works
        cluster-suffix:
        - cluster.local # default value
        - potato.local

    steps:
    - name: Checkout the current action
      uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0

    - name: setup-kind
      uses: ./setup-kind
      with:
        k8s-version: ${{ matrix.k8s-version }}
        cluster-suffix: ${{ matrix.cluster-suffix }}

    - name: check domain
      run: |
        expected_value="${{ matrix.cluster-suffix }}"
        dnsDomain=$(docker exec kind-control-plane cat /kind/kubeadm.conf | { grep dnsDomain || true; } | awk '{ print $2 }')

        if [[ "${expected_value}" == "cluster.local" ]]; then
          # the action doesn't explicitly set cluster.local - so we expect an empty value
          if [[ -n "${dnsDomain}" ]]; then
            echo "Cluster domain was set to '${dnsDomain}' instead of 'cluster.local'"
            exit 1
          fi
        else
          if [[ -z "${dnsDomain}" ]]; then
              echo "Cluster domain was not set - expected: '${expected_value}'"
              exit 1
          elif [[ "${expected_value}" != "${dnsDomain}" ]]; then
              echo "Cluster domain expected: '${expected_value}' - actual: '${dnsDomain}'"
              exit 1
          fi
        fi

    - name: Test spinning up Knative also
      id: knative
      uses: ./setup-knative
      with:
        version: latest
