name: test-gitsign

on:
  pull_request:
    paths:
      - 'setup-gitsign/**'
      - '.github/workflows/test-gitsign.yaml'

permissions:
  contents: read

jobs:
  test_gitsign_action:

    strategy:
      matrix:
        os:
          - macos-latest
          - macos-13
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-latest

    runs-on: ${{ matrix.os }}

    permissions: {}

    name: Install Gitsign and test presence in path
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@0634a2670c59f64b4a01f0f96f84700a4088b9f0 # v2.12.0
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Install Gitsign
      uses: ./setup-gitsign

    - name: Check install!
      run: gitsign --version

    - name: Check root directory
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          echo 'should be clean'
          exit 1
        else
          exit 0
        fi
      shell: bash
