name: setup-kind

on:
  pull_request:
    branches:
      - main
    paths:
      - 'setup-kind/**'
      - 'setup-knative/**'
      - '.github/workflows/test-setup-kind.yaml'

defaults:
  run:
    shell: bash
    working-directory: ./

concurrency:
  group: test-github-action${{ github.head_ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  test-github-action:
    name: test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false # Keep running if one leg fails.
      matrix:
        k8s-version:
        - 1.31.x
        - 1.32.x
        - 1.33.x
        - 1.34.x
        - 1.35.x

        # See https://github.com/chainguard-dev/actions/pull/175
        # We're testing whether setting a custom cluster domain works
        cluster-suffix:
        - cluster.local # default value
        - potato.local

        include:
        - k8s-version: 1.31.x
          knative-version: 1.16.0
        - k8s-version: 1.32.x
          knative-version: 1.16.0
        - k8s-version: 1.33.x
          knative-version: 1.17.0
        - k8s-version: 1.34.x
          knative-version: 1.19.0
        - k8s-version: 1.35.x
          knative-version: 1.20.0

    permissions:
      contents: read

    steps:
    - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - name: Checkout the current action
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: ./whereami # Log where I am.

    - name: setup-kind
      uses: ./setup-kind
      with:
        k8s-version: ${{ matrix.k8s-version }}
        cluster-suffix: ${{ matrix.cluster-suffix }}

    - name: check registry
      run: |
        docker pull nginx:latest
        docker tag nginx:latest registry.local:5000/nginx:latest
        docker push registry.local:5000/nginx:latest

        kubectl apply -f - <<EOF
        apiVersion: v1
        kind: Pod
        metadata:
          name: nginx-local
        spec:
          containers:
          - name: nginx
            image: registry.local:5000/nginx:latest
            ports:
            - containerPort: 80
        EOF

        kubectl wait --for=condition=ready pod/nginx-local --timeout=60s

    - name: check domain
      run: |
        expected_value="${{ matrix.cluster-suffix }}"
        dnsDomain=$(docker exec kind-control-plane cat /kind/kubeadm.conf | { grep dnsDomain || true; } | awk '{ print $2 }')

        if [[ "${expected_value}" == "cluster.local" ]]; then
          # the action doesn't explicitly set cluster.local - so we expect an empty value
          if [[ -n "${dnsDomain}" ]]; then
            echo "Cluster domain was set to '${dnsDomain}' instead of 'cluster.local'"
            exit 1
          fi
        else
          if [[ -z "${dnsDomain}" ]]; then
              echo "Cluster domain was not set - expected: '${expected_value}'"
              exit 1
          elif [[ "${expected_value}" != "${dnsDomain}" ]]; then
              echo "Cluster domain expected: '${expected_value}' - actual: '${dnsDomain}'"
              exit 1
          fi
        fi

    - name: Test spinning up Knative
      uses: ./setup-knative
      with:
        version: ${{ matrix.knative-version || 'latest' }}

    - name: Collect diagnostics
      if: ${{ failure() }}
      uses: chainguard-dev/actions/kind-diag@0cf1221da92242205c2d9f8a63add344ebd6b304 # v1.6.1
      with:
        artifact-name: logs.${{ matrix.k8s-version }}
