name: test-setup-melange

on:
  pull_request:

jobs:
  test-setup-melange:
    runs-on: ubuntu-latest
    permissions: {}
    strategy:
      matrix:
        version: ['tip', 'latest-release', 'v0.5.5']
      fail-fast: false
    steps:
    - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.0
      with:
        egress-policy: audit

    - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

    - id: changed-melange
      uses: tj-actions/changed-files@e9772d140489982e0e3704fea5ee93d536f1e275 # v45.0.1
      with:
        files: |
          ./setup-melange/**
          ./melange-build/**
          ./melange-build-pkg/**
          ./melange-keygen/**
          .github/workflows/test-setup-melange.yaml

    - uses: ./setup-melange
      if: steps.changed-melange.outputs.any_changed == 'true'
      with:
        version: ${{matrix.version}}

    - if: steps.changed-melange.outputs.any_changed == 'true'
      run: |
        melange build setup-melange/example/melange.yaml --arch=x86_64
        ls -R packages/

  # This should do the same thing.
  test-melange-build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: step-security/harden-runner@446798f8213ac2e75931c1b0769676d927801858 # v2.10.0
        with:
          egress-policy: audit

      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7

      - id: changed-melange
        uses: tj-actions/changed-files@e9772d140489982e0e3704fea5ee93d536f1e275 # v45.0.1
        with:
          files: |
            ./setup-melange/**
            .github/workflows/test-setup-melange.yaml

      - uses: ./melange-build
        if: steps.changed-melange.outputs.any_changed == 'true'
        with:
          config: setup-melange/example/melange.yaml
          archs: x86_64
          sign-with-temporary-key: true
