name: test-argo-workflows

on:
  pull_request:
    paths:
      - 'setup-argo-workflows/**'
      - '.github/workflows/test-argo-workflows.yaml'

permissions: {}

jobs:
  test_argo_workflows_action:
    runs-on: 'ubuntu-latest'

    permissions:
      contents: read

    name: Install Argo Workflows and test presence in path
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Kind
        uses: chainguard-dev/actions/setup-kind@eab208ef2d05b13404296a5e194a6b237e8bb213 # v1.6.4

      - name: Install Argo Workflows
        uses: ./setup-argo-workflows

      - name: Check install!
        run: argo lint --help

  test_argo_cli_only:
    runs-on: 'ubuntu-latest'

    permissions:
      contents: read

    name: Install Argo CLI only and test presence in path
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@a90bcbc6539c36a85cdfeb73f7e2f433735f215b # v2.15.0
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Install Argo Workflows
        uses: ./setup-argo-workflows
        with:
          install-argo-cli-only: 'true'

      - name: Check install!
        run: argo lint --help
