name: test-git-tag

on:
  pull_request:
    paths:
      - "git-tag/**"
      - ".github/workflows/test-git-tag.yaml"

permissions: {}

jobs:
  test_git_tag_action:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    name: Test Git Tag
    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: ./git-tag
        with:
          git_tag_prefix: "v"
          bump_level: major
          dry_run: true
          forced_version: 2.0.0
