name: test-gitsign

on:
  pull_request:

jobs:
  test_gitsign_action:

    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    permissions: {}

    name: Install Gitsign and test presence in path
    steps:
    - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

    - id: changed-gitsign
      uses: tj-actions/changed-files@40526807ee1e208a1a8c1bbe6bd2d1b044ef6368 # v40.0.2
      with:
        files: |
          ./setup-gitsign/**
          .github/workflows/test-gitsign.yaml

    - name: Install Gitsign
      if: steps.changed-gitsign.outputs.any_changed == 'true'
      uses: ./setup-gitsign

    - name: Check install!
      if: steps.changed-gitsign.outputs.any_changed == 'true'
      run: gitsign --version

    - name: Check root directory
      if: steps.changed-gitsign.outputs.any_changed == 'true'
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          echo 'should be clean'
          exit 1
        else
          exit 0
        fi
      shell: bash
