name: test-setup-melange

on:
  pull_request:
    paths:
      - 'setup-melange/**'
      - 'melange-build/**'
      - 'melange-build-pkg/**'
      - 'melange-keygen/**'
      - '.github/workflows/test-setup-melange.yaml'

permissions: {}

jobs:
  test-setup-melange:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        version:
          - 'tip'
          - 'latest-release'

      fail-fast: false
    steps:
    - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
      with:
        egress-policy: audit

    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        persist-credentials: false

    - uses: ./setup-melange
      with:
        version: ${{matrix.version}}

    - run: |
        melange build setup-melange/example/melange.yaml --arch=x86_64 --runner docker
        ls -R packages/

  # This should do the same thing.
  test-melange-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - uses: ./melange-build
        with:
          config: setup-melange/example/melange.yaml
          archs: x86_64
          sign-with-temporary-key: true
