name: test-setup-melange

on:
  pull_request:

jobs:
  test-setup-melange:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
    - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

    - id: changed-melange
      uses: tj-actions/changed-files@54849deb963ca9f24185fb5de2965e002d066e6b # v37.0.5
      with:
        files: |
          ./setup-melange/**
          .github/workflows/test-setup-melange.yaml

    - uses: ./setup-melange
      if: steps.changed-melange.outputs.any_changed == 'true'

    - if: steps.changed-melange.outputs.any_changed == 'true'
      run: |
        melange build setup-melange/example/melange.yaml --arch=x86_64
        ls -R packages/

  # This should do the same thing.
  test-melange-build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - id: changed-melange
        uses: tj-actions/changed-files@54849deb963ca9f24185fb5de2965e002d066e6b # v37.0.5
        with:
          files: |
            ./setup-melange/**
            .github/workflows/test-setup-melange.yaml

      - uses: ./melange-build
        if: steps.changed-melange.outputs.any_changed == 'true'
        with:
          config: setup-melange/example/melange.yaml
          archs: x86_64
          sign-with-temporary-key: true
