name: test-setup-melange

on:
  pull_request:

jobs:
  test-setup-melange:
    runs-on: ubuntu-latest
    permissions: {}
    strategy:
      matrix:
        version: ['tip', 'latest-release', 'v0.5.5']
      fail-fast: false
    steps:
    - uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
      with:
        egress-policy: audit

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - id: changed-melange
      uses: tj-actions/changed-files@c3a1bb2c992d77180ae65be6ae6c166cf40f857c # v45.0.3
      with:
        files: |
          ./setup-melange/**
          ./melange-build/**
          ./melange-build-pkg/**
          ./melange-keygen/**
          .github/workflows/test-setup-melange.yaml

    - uses: ./setup-melange
      if: steps.changed-melange.outputs.any_changed == 'true'
      with:
        version: ${{matrix.version}}

    - if: steps.changed-melange.outputs.any_changed == 'true'
      run: |
        melange build setup-melange/example/melange.yaml --arch=x86_64
        ls -R packages/

  # This should do the same thing.
  test-melange-build:
    runs-on: ubuntu-latest
    permissions: {}
    steps:
      - uses: step-security/harden-runner@91182cccc01eb5e619899d80e4e971d6181294a7 # v2.10.1
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - id: changed-melange
        uses: tj-actions/changed-files@c3a1bb2c992d77180ae65be6ae6c166cf40f857c # v45.0.3
        with:
          files: |
            ./setup-melange/**
            .github/workflows/test-setup-melange.yaml

      - uses: ./melange-build
        if: steps.changed-melange.outputs.any_changed == 'true'
        with:
          config: setup-melange/example/melange.yaml
          archs: x86_64
          sign-with-temporary-key: true
