name: test-gitsign

on:
  pull_request:

jobs:
  test_gitsign_action:

    strategy:
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest

    runs-on: ${{ matrix.os }}

    permissions: {}

    name: Install Gitsign and test presence in path
    steps:
    - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

    - id: changed-gitsign
      uses: tj-actions/changed-files@87697c0dca7dd44e37a2b79a79489332556ff1f3 # v37.6.0
      with:
        files: |
          ./setup-gitsign/**
          .github/workflows/test-gitsign.yaml

    - name: Install Gitsign
      if: steps.changed-gitsign.outputs.any_changed == 'true'
      uses: ./setup-gitsign

    - name: Check install!
      if: steps.changed-gitsign.outputs.any_changed == 'true'
      run: gitsign --version

    - name: Check root directory
      if: steps.changed-gitsign.outputs.any_changed == 'true'
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          echo 'should be clean'
          exit 1
        else
          exit 0
        fi
      shell: bash
