name: test-git-tag

on:
  pull_request:
    paths:
      - "git-tag/**"
      - ".github/workflows/test-git-tag.yaml"

permissions: {}

jobs:
  test_git_tag_action:
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read

    name: Test Git Tag
    steps:
      - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          persist-credentials: false

      - uses: ./git-tag
        with:
          git_tag_prefix: "v"
          bump_level: major
          dry_run: true
          forced_version: 2.0.0
