name: test-gitsign

on:
  pull_request:
    paths:
      - 'setup-gitsign/**'
      - '.github/workflows/test-gitsign.yaml'

permissions: {}

jobs:
  test_gitsign_action:

    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - macos-13
          - ubuntu-latest
          - ubuntu-24.04-arm
          - windows-11-arm
          - windows-latest

    runs-on: ${{ matrix.os }}

    permissions:
      contents: read

    name: Install Gitsign and test presence in path
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        persist-credentials: false

    - name: Install Gitsign
      uses: ./setup-gitsign

    - name: Check install!
      run: gitsign --version

    - name: Check root directory
      run: |
        if [[ $(git diff --stat) != '' ]]; then
          echo 'should be clean'
          exit 1
        else
          exit 0
        fi
      shell: bash
