name: test-setup-registry

on:
  pull_request:
    paths:
      - 'setup-registry/**'
      - '.github/workflows/test-setup-registry.yaml'

permissions: {}

jobs:
  test-mem:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false

    - uses: ./setup-registry
      with:
        port: 8081

    - run: |
        curl -v http://localhost:8081/v2/
        crane copy cgr.dev/chainguard/static:latest-glibc localhost:8081/static:test

  test-disk:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
    - uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        persist-credentials: false

    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
      with:
        go-version: 'stable'
        check-latest: true
        cache: false

    - uses: ./setup-registry
      with:
        port: 8081
        disk: true

    - run: |
        curl -v http://localhost:8081/v2/
        crane copy cgr.dev/chainguard/static:latest-glibc localhost:8081/static:test
