name: test-setup-melange

on:
  pull_request:
    paths:
      - 'setup-melange/**'
      - 'melange-build/**'
      - 'melange-build-pkg/**'
      - 'melange-keygen/**'
      - '.github/workflows/test-setup-melange.yaml'

permissions: {}

jobs:
  test-setup-melange:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    strategy:
      matrix:
        version:
          - 'tip'
          - 'latest-release'

      fail-fast: false
    steps:
    - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - uses: ./setup-melange
      with:
        version: ${{matrix.version}}

    - run: |
        melange build setup-melange/example/melange.yaml --arch=x86_64 --runner docker
        ls -R packages/

  # This should do the same thing.
  test-melange-build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: ./melange-build
        with:
          config: setup-melange/example/melange.yaml
          archs: x86_64
          sign-with-temporary-key: true
